{% extends "base.html" %}
{% block title %}Start Page{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
{% include "common/_header.html" %}
<div class="main-content">
    <div class="settings-wrapper section-wrapper">
        <div class="container">
            {% include 'common/_add_scrapper.html' %}
        </div>
    </div>
    {% include 'common/_flash_messages.html' %}
    <div class="scrappers-wrapper section-wrapper">
        <div class="container">
            <h2 class="text-center title">Мои скрапперы</h2>
            {% for scrapper in scrappers %}
                {% include 'common/_scrapper.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block js_footer %}
    {{ super() }}
{% endblock js_footer %}